
//中间主体部分  start
.main {
  width: 100%;
  background: #f5f5f5;
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    .prd-info{
      overflow:hidden;
      margin-bottom: 20px;
      background: #fff;
      .imgbox{
        padding: 5px;
        float: left;
        width: 40%;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .prd-title {
        float: left;
        margin-left: 50px;
        font-size: 20px;
        .title {
          margin: 20px auto 20px;
        }
        
      }
    }
    .commentsbox {
      font-size: 16px;
      .prd-name {
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
      }
      .comments {
        width: 100%;
        li{
          width: 100%;
          background: #fff;
          overflow: hidden;
          padding: 10px;
          box-sizing: border-box;
          margin-bottom: 10px;
          .userphone {
            float: left;
            width: 15%;
            height: 25px;
            line-height: 25px;
          }
          .contents{
            float: left;
            width: 85%;
            p {
              margin-bottom: 10px;
            }
            .time {
              display: block;
              color: #333;
              font-size: 14px;
              margin: 10px 0;
            }
          }
        }
      }
    }
    .commentbox {
      textarea {
        vertical-align: middle;
        outline: none;
        resize: none;
        padding: 10px;
      }
      input[type='submit']{
        width: 100px;
        height: 30px;
        background: red;
        color: #fff;
        outline: none;
        border: none;
        text-align: center;
        line-height: 30px;
        margin-left: 250px;
        border-radius: 5px;
        margin-top: 5px;
      }
    }
  }
  #pageBox {
    width: 100%;
    text-align: center;
    a {
      width: 50px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      display: inline-block;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 3px;
    }
    padding-bottom: 20px;
  }
}


//中间主体部分 end



// 媒体查询
//---------------(0-767)----------------------
@media only screen and (max-width:767px){
  .main {
    .container {
      .prd-info{
        .imgbox{
         margin-left: 18px;
        }
      }
      .commentsbox {
        .comments {
          width: 100%;
          li{
            .userphone {
              float: none;
              width: 100%;
            }
            .contents{
              float: none;
              width: 100%;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}


