<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      *{
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <!-- 如果上传的是多张图片的话，这里就要遍历去显示图片 -->
    <img src="<%=imgsrc%>" style="width: 50px;height: 50px">
  </body>
</html>